<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FunctionSearchWikiMapia</servlet-name>
        <servlet-class>com.mycompany.tcc.wikimapia.FunctionSearchWikiMapia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchGeometryServlet</servlet-name>
        <servlet-class>com.mycompany.tcc.wikimapia.SearchGeometryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FunctionSearchWikiMapia</servlet-name>
        <url-pattern>/FunctionSearchWikiMapia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchGeometryServlet</servlet-name>
        <url-pattern>/SearchGeometryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
